@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Jost", sans-serif;
  }
}

@layer components {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      scale: 1;
    }
    to {
      opacity: 0;
    }
  }

  .SelectContent[data-state="open"] {
    animation: fadeIn 300ms ease-out;
  }

  .SelectContent[data-state="closed"] {
    animation: fadeOut 300ms ease-in;
  }

  .TabsRoot {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 475px;
    height: fit-content;
    margin: 2rem auto;
    box-shadow: 0 2px 10px var(--blackA4);
  }

  .TabsList {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--mauve6);
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  .TabsTrigger {
    font-family: inherit;
    margin: 0 auto;
    padding: 0 20px;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1;
    user-select: none;
    font-size: 1.1rem;
  }
  .TabsTrigger:first-child {
    border-top-left-radius: 6px;
  }
  .TabsTrigger:last-child {
    border-top-right-radius: 6px;
  }
  .TabsTrigger:hover {
    color: var(--violet11);
  }
  .TabsTrigger[data-state="active"] {
    color: purple;
    font-weight: bold;
    transition: box-shadow 0.3s ease-in-out;
  }
  .TabsTrigger:focus {
    position: relative;
  }

  .TabsContent {
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: none;
  }

  .Text {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--mauve11);
    font-size: 15px;
    line-height: 1.5;
  }

  .Fieldset {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .Label {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 10px;
    color: var(--violet12);
    display: block;
  }

  .Input {
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    height: 35px;
    border: none;
  }
  .Input:focus {
    border: 1px blue;
  }

  .Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
  }
}

@media screen and (max-width: 720px) {
  .TabsRoot {
    width: 90%;
  }
}
